<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
  <display-name>OAuth Example</display-name>

  <servlet>
    <servlet-name>loaddata_controller</servlet-name>
    <servlet-class>com.google.appengine.demos.oauth.LoadDataControllerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>receivetoken_controller</servlet-name>
    <servlet-class>com.google.appengine.demos.oauth.ReceiveTokenControllerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>redirecttogoogle_controller</servlet-name>
    <servlet-class>com.google.appengine.demos.oauth.RedirectToGoogleControllerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectscope_controller</servlet-name>
    <servlet-class>com.google.appengine.demos.oauth.SelectScopeControllerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>selectsignatureinfo_controller</servlet-name>
    <servlet-class>com.google.appengine.demos.oauth.SelectSignatureInfoControllerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>startover_servlet</servlet-name>
    <servlet-class>com.google.appengine.demos.oauth.StartOverServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>welcome_controller</servlet-name>
    <servlet-class>com.google.appengine.demos.oauth.WelcomeControllerServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loaddata_controller</servlet-name>
    <url-pattern>/LoadData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>redirecttogoogle_controller</servlet-name>
    <url-pattern>/RedirectToGoogle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>receivetoken_controller</servlet-name>
    <url-pattern>/ReceiveToken</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selectscope_controller</servlet-name>
    <url-pattern>/SelectScope</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>selectsignatureinfo_controller</servlet-name>
    <url-pattern>/SelectSignatureInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>startover_servlet</servlet-name>
    <url-pattern>/StartOver</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>welcome_controller</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>/Welcome</welcome-file>
  </welcome-file-list>

</web-app>
