<?xml version="1.0" encoding="UTF-8"?>
<web-app>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Guestbook.html</welcome-file>
  </welcome-file-list>
  <!-- Servlets -->
  <servlet>
    <servlet-name>guestService</servlet-name>
    <servlet-class>com.google.gwt.sample.gwtguestbook.server.GuestServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>guestService</servlet-name>
    <url-pattern>/guestbook/guestservice</url-pattern>
  </servlet-mapping>
</web-app>
