@charset
"utf-8"
;
body, table {
  margin: 0;
  font: 11px Verdana, Arial, sans-serif;
  color: #2f2f2f;
}

.mc {
  width: 800px;
  border: solid 0 #000;
  margin: auto;
}

h1 {
  margin: 10px 0;
  padding: 0 0 2px 0;
  font-size: 15px;
  color: #606163;
}

.menubar {
  width: 99%;
  float: left;
  border: solid thin silver;
  padding: 5px
}

.menuItems {
  width: 50%;
  float: left;
}

.loginItem {
  width: 49%;
  float: right;
}

.appinfoDiv {
  width:800px;border-style:solid;border-width:thin;border-color:silver;padding:5px;
}

.addCarDiv {
  width:400px;display:none;margin-left:200px;
}

.addCarTableDiv {
  width:300px;height:250px;margin-left:50px;
}

.searchBoxDiv {
  padding:5px;width:500px;margin-left:125px;border-style:ridge;
}

.searchContainer {
  width:800px;display:block;
}